.App {
  display: flex;
  justify-content: center;
}
form { 
  display: inline-block;
}
form fieldset{
  padding: 20px;
}
form input, select, label{ margin: 10px 5px;}
input, select { 
  padding: 10px 5px;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
}
input[type=checkbox] {
  margin: 10px 5px;
}
.error { color: red; display: inline; }
.btn{
  padding: 8px 20px;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
}
.sub{background: green;} 
.res{background: red;} 